<!DOCTYPE html>
<html>
    <head>
        <script>
        window.onload = function openWindow() {
            window.open('https://www.youtube.com/results?search_query=kinjaz', '_blank')
            document.getElementsByTagName('button').click();
        }
    </script>
    <style>
        button {
            display: none;
        }
    </style>
    </head>
    
    <body>
        <button onclick="openWindow()"></button>

    </body>
</html>